@using Microsoft.AspNetCore.Html

@{
    ViewData["Title"] = "Профиль";
}
@model ProfileViewModel;

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'currentOrders')" id="defaultOpen">Текущие заказы</button>
    <button class="tablinks" onclick="openTab(event, 'completedOrders')">Полученные заказы</button>
</div>

<div id="currentOrders" class="tabcontent">
    @foreach (var order in Model.Orders)
    {
        @if (order.Status != OrderStatus.Completed)
        {
            <div class="order-card">
                <h4>Код заказа: @order.Code</h4>
                <h5>Дата оформления: @order.OrderDate.ToLocalTime().ToString("dddd, dd MMMM yyyy, HH:mm")</h5>
                <ul>
                   @foreach(var phone in order.Smartphones)
                    {
                        <li>@phone.Name  $@phone.Price</li>
                    }
                    
                </ul>
                <p>Статус: @order.Status.ToString()</p>
                <div class="status-bar">
                    <div class="status-marker @order.Status.ToString().ToLower()"></div>
                </div>
            </div>
        }
    }
</div>

<div id="completedOrders" class="tabcontent">
    @foreach (var order in Model.Orders)
    {
        @if (order.Status == OrderStatus.Completed)
        {
            <div class="order-card">
                <h4>Код заказа: @order.Code</h4>
                <h5>Дата оформления: @order.OrderDate.ToLocalTime().ToString("dddd, dd MMMM yyyy, HH:mm")</h5>
                <ul>
                    @foreach (var phone in order.Smartphones)
                    {
                        <li>@phone.Name  $@phone.Price</li>
                    }

                </ul>
                <p>Статус: @order.Status.ToString()</p>
                <div class="status-bar">
                    <div class="status-marker @order.Status.ToString().ToLower()"></div>
                </div>
            </div>
        }
    }
</div>


<script>
    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }


    document.getElementById("defaultOpen").click();
</script>