@using SmartShop.DataBase.Tables
@{
    ViewData["Title"] = "Home Page";
    User? User = ViewBag.User;
}

<div class="container">
    <div class="row">
        @foreach (Smartphone smartphone in ViewBag.Smartphones)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a href="Catalog/Product?id=@smartphone.Id" class="card-link">
                        <img class="card-img-top" src="@smartphone.Medias.First().Url" alt="@smartphone.Name">
                        <div class="card-body">
                            <h5 class="card-title">@smartphone.Name</h5>
                            <p class="card-text">@smartphone.Description</p>
                            <p class="card-text">$@smartphone.Price</p>

                        </div>
                    </a>
                    <div class="card-footer">
                        <span class="d-block">
                            @if (User!=null && User.Role==Role.Admin)
                            {
                                <button style="margin:5px;" id="AddToCartButton @smartphone.Id" href="#" class="btn btn-primary" onclick="ButtonRedirect(Edit?@smartphone.Id);">Edit</button>
                                <button style="margin:5px;" id="AddToCartButton @smartphone.Id" href="#" class="btn btn-primary" onclick="ButtonRedirect(Remove?@smartphone.Id);">Delete</button>
                            }
                            else
                            {
                                @if (smartphone.UnitsAvailable > 0)
                                {
                                    <button id="AddToCartButton @smartphone.Id" href="#" class="btn btn-primary" onclick="AddToCart(@smartphone.Id);">Add to Cart</button>
                                }
                                else
                                {
                                    <span class="text-danger">Out of Stock</span>
                                }
                            }
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

