@{
    ViewData["Title"] = "Корзина";
}
@model CartViewModel;

<div class="container mt-4">
    <h2>Ваша корзина:</h2>
    @if (Model.CartContent != null && Model.CartContent.Length > 0)
    {
        @for (var i = 0; i < Model.CartContent.Length; i++)
        {
            var smartphone = Model.CartContent[i];
            <div class="card mb-3 position-relative" id="card item @i" style="opacity:@(smartphone.Value?"1":"0.5")">
                <div class="row no-gutters">
                    <div class="col-md-3">

                        <img src="@smartphone.Key.Medias.First().Url" class="card-img" alt="@smartphone.Key.Name">
                        @if (!smartphone.Value)
                        {
                            <div class="centered">Нет в наличии</div>
                        }

                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a class="card-link" href="/Catalog/Product?id=@smartphone.Key.Id">
                                <h5 class="card-title">@smartphone.Key.Name</h5>
                                <p class="card-text">@smartphone.Key.Description</p>
                                <p class="card-text"><small class="text-muted">Price: $@smartphone.Key.Price</small></p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-sm delete-btn" onclick="RemoveFromCart(@i);location.reload();">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
        @if (Model.CartContent != null && Model.CartContent.Length > 0)
        {
            <div id="payment" class="text-right">
                <h4 id="TotalPrice">Итоговая цена: $@(Model.CartContent.Sum(s => s.Key.Price))</h4>

                <button class="btn btn-primary" onclick="@(ViewBag.User!=null?"ButtonRedirect('Ordering')":"ButtonRedirect('Auth/Login')")">
                    Оплатить
                </button>
            </div>
        }
    }
    else
    {
        <p>Пусто</p>
    }
</div>

