@{
    ViewData["Title"] = "Cart";
    KeyValuePair<Smartphone, bool>[] smartphones = ViewBag.CartContent;
}

<div class="container mt-4">
    <h2>Your Cart:</h2>
    @if (smartphones != null && smartphones.Length > 0)
    {
        @for (var i = 0; i < smartphones.Length; i++)
        {
            var smartphone = smartphones[i];
            <div class="card mb-3 position-relative" id="card item @i" style="opacity:@(smartphone.Value?"1":"0.5")">
                <div class="row no-gutters">
                    <div class="col-md-3">

                        <img src="@smartphone.Key.Medias.First().Url" class="card-img" alt="@smartphone.Key.Name">
                        @if (!smartphone.Value)
                        {
                            <div class="centered">Нет в наличии</div>
                        }

                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <a class="card-link" href="/Catalog/Product?id=@smartphone.Key.Id">
                                <h5 class="card-title">@smartphone.Key.Name</h5>
                                <p class="card-text">@smartphone.Key.Description</p>
                                <p class="card-text"><small class="text-muted">Price: $@smartphone.Key.Price</small></p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-sm delete-btn" onclick="RemoveFromCart(@i);RemoveFromCartPage('card item @i','@smartphone.Key.Price');">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </div>
        }
        <div class="text-right">
            <h4 id="TotalPrice">Total Price: $@(smartphones.Sum(s => s.Key.Price))</h4>

            <button class="btn btn-primary" onclick="@(ViewBag.User!=null?"ButtonRedirect('Ordering')":"ButtonRedirect('Auth/Login')")">
                Buy Now
            </button>
        </div>
    }
    else
    {
        <p>Your cart is empty.</p>
    }
</div>

<script>
    function RemoveFromCartPage(id, price) 
    {
        document.getElementById(id).outerHTML = "";
        var totalPrice = document.getElementById('TotalPrice');

        var searchIndex = totalPrice.innerText.indexOf("$");
        var strOut = totalPrice.innerText.substring(searchIndex + 1); //this is where the magic happens :)

        totalPrice.innerText = "Total price: $" + (strOut - price);
    }
</script>

<style>
    .delete-btn {
        background-color: transparent;
        border: none;
        color: #000;
        transition: color 0.3s ease;
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .delete-btn:hover {
        color: red;
    }
</style>
