@model EditViewModel;
@{
    ViewData["Title"] = "Редактирование";
}
<div id="productsTab" class="tabcontent">
    <form id="product" action="api/AddProduct" method="post">

        <div class="form-group">
            <label for="releaseDate">Дата выхода</label>
            <input type="date" class="form-control" value="@Model.Smartphone.ReleaseDate.ToLocalTime().ToString("yyyy-MM-dd")" id="releaseDate" name="releaseDate" required />
        </div>

        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" value="@Model.Smartphone.Name" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="producerId">Производитель</label>
            <input class="form-control" list="producers" id="producerName" value="@Model.Smartphone.Producer.Name" name="producerName" required>
            <datalist id="producers">
                @foreach (var producer in @Model.Producers)
                {
                    <option>@producer.Name</option>
                }
            </datalist>
        </div>

        <div class="form-group">
            <label for="description">Описание</label>
            <textarea type="text" class="form-control" id="description" name="description" required>@Model.Smartphone.Description</textarea>
        </div>

        <div class="form-group">
            <label for="memorySize">Размер хранилища (GB)</label>
            <input type="number" class="form-control" id="memorySize" value="@Model.Smartphone.MemorySize" name="memorySize" required>
        </div>

        <div class="form-group">
            <label for="ramSize">Размер опертивной памяти (GB)</label>
            <input type="number" class="form-control" id="ramSize" value="@Model.Smartphone.RamSize" name="ramSize" required>
        </div>

        <div class="form-group">
            <label for="megaPixels">Количество мегапикселей</label>
            <input type="number" class="form-control" id="megaPixels" value="@Model.Smartphone.MegaPixels" name="megaPixels" required>
        </div>

        <div class="form-group">
            <label for="price">Цена</label>
            <input type="number" class="form-control" step="0.01" value="@Model.Smartphone.Price.ToString().Replace(',','.')" id="price" name="price" required>
        </div>

        <div class="form-group">
            <label for="unitsAvailable">Штук в наличии</label>
            <input type="number" class="form-control" value="@Model.Smartphone.UnitsAvailable" id="unitsAvailable" name="unitsAvailable" required>
        </div>

        <button type="button" class="btn btn-primary" onclick="TrySendForm('product','EditProduct?id=@Model.Smartphone.Id','succsess','failure');">Сохранить</button>

        <div class="form-group" style="margin: 10px;">
            <div id="failure" class="failure" style="visibility:hidden">Ошибка</div>
            <div id="succsess" class="success" style="visibility:hidden">Успешно сохранено</div>
        </div>
    </form>
</div>