@{
    ViewData["Title"] = "SmartShop";
    User? User = ViewBag.User;
}
@model CatalogViewModel;

<div class="container">
    <div class="row">
        @foreach (Smartphone smartphone in Model.Smartphones)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <a href="Catalog/Product?id=@smartphone.Id" class="card-link">
                        <img class="card-img-top" src="@smartphone.Medias.First().Url" alt="@smartphone.Name">
                        <div class="card-body">
                            <h5 class="card-title">@smartphone.Name</h5>
                            <p class="card-text">@smartphone.Description</p>
                            <p class="card-text">$@smartphone.Price</p>

                        </div>
                    </a>
                    <div class="card-footer">
                        <span class="d-block">
                            @if (User != null && User.Role == Role.Admin)
                            {
                                <button style="margin:5px; background-color: #ffc107; border-color: #ffc107; color: #fff;"
                                        id="EditButton @smartphone.Id" href="#" class="btn btn-primary" onclick="ButtonRedirect('Edit?id=@smartphone.Id');">
                                    Редактировать
                                </button>

                                <button style="margin:5px; background-color: #dc3545; border-color: #dc3545; color: #fff;"
                                        id="DeleteButton @smartphone.Id" href="#" class="btn btn-primary" onclick="DeleteProduct(@smartphone.Id);">
                                    Удалить
                                </button>
                            }
                            else
                            {
                                @if (smartphone.UnitsAvailable > 0)
                                {
                                    <button id="AddToCartButton @smartphone.Id" href="#" class="btn btn-primary" onclick="AddToCart(@smartphone.Id);">Добавить в корзину</button>
                                }
                                else
                                {
                                    <span class="text-danger">Нет в наличии</span>
                                }
                            }
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

